footer{
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    background: #202020;
    color:white;
    clear: both;
}

.container-footer-all{
    margin:auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width:400px;
    margin: 50px;
}

.column1 h1{
    font-size: 22px;
}

div.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
    margin: 50px;
}

.column2 h1{
    padding-top: 10px;
    font-size: 22px;
}

.column2 .row{
    margin-top: 10px;
}
.footerImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.row label{
    margin-top: 5px;
    margin-left:10px;
    color: #c7c7c7;
}

.column3{
    max-width: 400px;
    margin:50px;
}
.footlink{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 150px;
  color: #c7c7c7;
}
.column3 h1{
    padding-top: 10px;
    font-size: 22px;
}

.column3 .row2{
    margin-top: 10px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
    color: #c7c7c7;
}
.container-footer{
    background: #101010;
    display:flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}
