#container{
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
    background-color: #252932;
    margin-bottom: 20px;
}
.sesion{
    float:right;
}

.logo{
    color:#f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float:left;
}

.derecha{
    float:right;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

.sesion{
    padding-top: 150px;
    color:#f2f2f2;
}
div a:link{
    text-decoration: none;
}

div a:visited{
    text-decoration: none;
}

label a:link{
    color:#f2f2f2;
    font-size: 20px;
    text-decoration: none;
}
label a:visited{
    color:#f2f2f2;
    font-size: 20px;
    text-decoration: none;
}
