#main-header {
	background: #819FF7;
	height: 90px;
}	
#main-header a:link {
    color: #000000;
    text-decoration: none;
}

#main-header a:visited {
    color: #000000;
    text-decoration: none;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
	
.user li a{
	background-color:rgb(26, 188, 156);
	color:#000000;
	text-decoration: none;
	padding: 10px 15px;
	display:block;
}

.user > li{
	float: right;
    text-decoration: none;
}

.user li ul{
	display:none;
	position:relative;
    text-decoration:none;
	min-width:140px;
}