body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #f7f7f7;
}
#idea{
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	background-color: #fff;
}
/*
Cabecera
*/
#title{
	font-weight: lighter;
}
#subtitle{
	 font-weight: lighter;
	 font-weight: 15px;
	 color: #555;
}
#cabecera{
	padding-top: 50px;
	margin-left: 250px;
}
/*
Acciones
*/
#acciones-idea{
	float: none;
	margin-left: 200px;
}

#main-img{
	max-width: 700px;
	float: left;
}

#lateral{
	padding-top: 80px;
	margin-left: 725px;
}
.numInfo{
	color: #f50;
	font-size: 30px;
	margin-bottom: 0;

}
.numInfo2{
	font-size: 30px;
	margin-bottom: 0;
}
.textInfo{
	color: #555;
}
/*
panel
*/

#panel{
	clear:both;
	padding-top: 1px;
	margin-left: 150px;
	margin-right: 150px;
	min-height: 500px;
	padding-bottom: 20px;
}

.lista{
  list-style-type: none;
	margin-top: 100px;
  padding: 0;
	border-bottom: 2px solid #f50;
  overflow: hidden;
}

.active {
	float: left;
	border-bottom: 3px solid #f50;
  color: #f50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 18px;
}

.nactive {
	float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 18px;
}

#datos1,#datos2,#datos3{
	min-height: 400px;
	margin-top: 40px;
	margin-left: 10px;
	color: #444;
}

/*
div.datos1 {
	width: 100%;
	height:75%;
}

div.datos2 {
	width: 100%;
	display:none;
	border: 1px solid #ccc;
	height:50%;
	overflow-y: scroll;

}

div.datos3 {
	width: 100%;
	display:none;
	height:75%;
}

.gallery .main-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.textarea1{
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
	bottom:0px;
	height:40%;
	font-size: 14px;
	color:#9B9A9A;
}



.texto{
	font-size: 18px;
	color:#9B9A9A;
}

.label {
    color: white;
    padding: 12px;
    font-family: Arial;
	border-radius:6px;
}

.other {
background-color: #000;
color: gray;
}

.texto3{
	font-size: 18px;
	color:#9B9A9A;
	text-align:center;
}

.responsive {
    padding: 6px 6px;
	margin:auto;
    width: 89.99999%;
}

.button {
    width: 250px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FE9A22;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom:12px;
    margin-top:6px;
}
.icon-transp{
	margin-top:15px;
	font-size:36px;
	background: transparent;
	border: none !important;
}

.button:hover {background-color: #FE7F22}

.button:active {
  background-color: #FE9A22;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.label {
    color: white;
    padding: 12px;
    font-family: Arial;
	border-radius:6px;
}

.fa-thumbs-o-up:before{content:"\f087"}

.icon-transp{
	margin-top:15px;
	font-size:36px;
	background: transparent;
	border: none !important;
}


.gallery .side-img{
    border-radius: 15px;
    width: 150px;
    height:auto;
}
*/
