
.field {
  display:flex;
  left: 30px;
  width: 150px;
  margin: 20px;
  margin-left: 130px;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  outline: none;
  font-family:  sans-serif;
  flex:1;
  padding:0.6em;
  border-radius: 10px 0px 0px 10px;
  font-size: 17px;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding: .6em .85em;
  outline:none;
  background-color: rgb(26, 188, 156);
  color: white;
  margin-right: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}
