body {
	background-color: #FFFFFF;
}
div#contenedor {
	font-family: sans-serif;
	width: auto;
	margin: auto;
	margin-top: 0px;
}

div#front {
	width: auto;
	height: 900px;
	min-height: 100%;
	background: linear-gradient( rgba(255, 85, 0, 0.05), rgba(0, 0, 0, 0.65) ), url("../images/main.jpg");
    background-position: center;
	background-size: cover;

}

div.login {
	color: #FFFFFF;
	width: 100%;
	text-align: right;

}

img#title {
    width: 700px;
		margin-top: 180px;
}


a.reg{
	color: #FFFFFF;
	font-size: 18px;
	margin-right: 10px;
	text-decoration:none;
}

.Create_button{
	padding:0.8em 5em;
	background-color:#F50;
	color:white;
	border:1px solid black;
}
