body{
	height:100%;
	 background-color:#FBF8F7; 
/* 	opacity:1;
	background: rgba(255, 255, 255, 0.5); */
}
input[type=text]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.submit {
  display: inline-block;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FE9A22;
  border: none;
  border-radius: 6px;
  margin-top: 12px;

}

.submit:hover {
    background-color: #FE7F22;
}

.texto{
	font-size: 18px;
	color:#9B9A9A;
}

.texto2{
	font-size: 25px;
	color:#9B9A9A;
	text-align:center;
}

.container {
	opacity: 0.7; 
    border-radius: 5px;
    background-color: #ECE9E8; 
    padding: 20px;
	margin:auto;
	width:35%

	/* background-color: rgb(0,0,255); opacity: 0.5; */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}