body {
	background-color: #FFFFFF;
	margin: 0;
}
div#contenedor {
	font-family: sans-serif;
	width: auto;
	margin: auto;
	margin-top: 0px;
}

div#front {
	width: auto;
	height: 100vh;
	min-height: 630px;
	background: linear-gradient( rgba(255, 85, 0, 0.05), rgba(0, 0, 0, 0.65) ), url("../images/main.jpg");
    background-position: center;
	background-size: cover;

}

div.login {
	color: #FFFFFF;
	width: 100%;
	text-align: right;
  padding-top: 16px;
}

img#title {
    width: 700px;
		margin-top: 20vh;
}


a.reg{
	color: #FFFFFF;
	font-size: 18px;
	margin-right: 10px;
	text-decoration:none;
}

.Create_button{
	outline: none;
	display: inline-block;
  white-space: nowrap;
  padding: 1.1em 3em;
  background-color:#F50;
  margin-right: 18px;
  color:white;
  border-radius: 15px;
  font-size: 16px;
}
