*{
    margin: 0px;
    padding: 0px;
}

.topentradas{
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 350px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 300px);
    align-items: center;
}

@media(max-width: 400px){
    .topentradas{
        margin-left: auto;
        margin-right: auto;
        width: 100vh;
        height: 1000px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 300px);
        align-items: center;
    }
}


.i_thumbnail{
    width: 300px;
    height: 300px;
    float:left;
    align-content: center;
}
.previewImg{
    width: 250px;
    height: 200px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10%;
}
.title{
    text-align: center;
    text-decoration: none;
}
.description{
    width: 220px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

.description{
    font-size: 20px;
    text-align: center;
    text-decoration:none;
}

#all_ideas{
    margin: auto;
    width: 900px;wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    height: 20px;
    text-align: right;
}
a{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}
