#ctopideas{
  width: 70%;
  margin-left: auto;
  margin-right: 10%;
}
#relacionadas{
	border-radius: 2px;
	border: solid 1px #ddd;
	margin-left: 2%;
	margin-right:  auto;
	float: left;
	background-color: white;
	min-width: 320px;
	height: 450px;
	margin-bottom: 20px;
}
#toptilte{
  clear: both;
  text-align:  center;
  padding: 40px;
  color: #333;
  font-size: 25px;
}
.previewImg:hover{
  filter: brightness(65%);
}
.previewImg{
  min-height: 230px;
	width: 320px;
	position: absolute;
}
.textrel{
	padding-top: 10px;
	background-color: white;
	position: relative;
  margin-top: 230px;
  height: 178px;
}
.namerel{
	max-height: 24px;
	overflow: hidden;
	text-decoration: none;
	color: black;
	margin-left: 20px;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.catrel{
  text-decoration:  none;
  color: #555;
  margin-left: 20px;
  border: solid 1px #555;
  border-radius: 54px;
  padding: 6px;
  cursor: pointer;
  font-size: 15px;
}
.catrel:hover{
  color: white;
  background-color: #f50;
  border: none;
}
a:-webkit-any-link {
  text-decoration: none;
}
.usurel{
	margin-top: 0px;
	text-decoration: none;
	color: #555;
	margin-left: 20px;
	font-size: 14px;
	max-width: 280px;
	max-height: 45px;
	overflow: hidden;
	margin-bottom: 25px;
}
.readmore{
  margin-top: 0;
  text-decoration:  none;
  color: #f50;
  text-align:  right;
  margin-right: 24px;
  font-size: 16px;
}
.descrel{
	text-decoration: none;
	color: #555;
	margin-left: 20px;
	font-size: 14px;
	max-width: 280px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 25px;
